*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(221, 221, 221);
    font-family: 'Roboto', sans-serif;
}

body, html {
    display: flex;
    justify-content: center;
    height: 100%;
}

.main {
    display: flex;
    width: 1230px;
    justify-content: space-between;
}

.logo img{
    width: 40px;
    margin-top: 10px;
}

.logo {
    margin-bottom: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    border-right: 1px solid rgb(59, 59, 59);
}

.categories {
    display: flex;
    flex-direction: column;
}

.category {
    cursor: pointer;
    padding: 8px;
    font-size: 20px;
    margin-bottom: 15px;
}

.category p {
    display: inline;
    background-color: black;
    border-radius: 25px;
    padding: 10px;
    margin: -15px;
}

.category p i {
    background-color: black;
    margin-right: 20px;
}

.category p:hover {
    background-color: rgb(22, 22, 22);
}


.tweet-btn-lg {
    border: none;
    height: 50px;
    width: 220px;
    border-radius: 25px;
    background-color: #1DA1F2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 6px;
    
}


.profile {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: auto;

}

#profilepic {
    width: 50px;
    border-radius: 50px;
    margin: 10px;
}

#names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name {
    font-weight: bold;
}

.profile i {
    margin-left: 20px;
    font-size: 18px;
}

.content{
    width: 600px;
}

.pagetitle {
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
}

.timelinebuttons{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.timelinebuttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    transition: all 250ms;
    transition-timing-function: ease;
}

.timelinebuttons div:hover {
    background-color: rgb(36, 36, 36);
}

.timelinebuttons div.active {
    background-color: rgb(36, 36, 36);
    border-bottom: 4px solid #1DA1F2;
}

#postarea {
    display: flex;
    grid-template-columns: 60px auto;
}



#profilepicpost {
    width: 40px;
    border-radius: 50px;
    margin: 15px;
}

#textarea {
    width: 500px;
    margin-bottom: 20px;
}

.tweetArea {
    display: grid;
    grid-row: 2;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.text{
    width: 100%;
    display: block;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    overflow: hidden;
    min-height: 50px;
    max-height: 700px;
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 30px;
}

.text:focus{
    outline: none;
}

#postTweetBtn {
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 25px;
    background-color: #1DA1F2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    justify-self: right;
    margin-right: 20px;
    
}

.sidebar-left{
    border-left: 1px solid rgb(59, 59, 59);
    width: 380px;
}